In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data =pd.read_csv(r'C:\Users\DELL\Desktop\data science DWIT\day3task1\KathmanduHouse.csv')
print(data)

                                                   Name   Location  \
0     Flat System House On Sale At Budhanikantha : H...  Kathmandu
1     21 Aana Beautiful House : House For Sale In Bu...  Kathmandu
2     Beautiful To Floor House : House For Sale In D...  Kathmandu
3     Modern Architecture Bungalow House : House For...  Kathmandu
4     Modern Bungalow House : House For Sale In Golf...  Kathmandu
...                                                 ...        ...
1478               House For Rent In Chapali, Kathmandu  Kathmandu
1479             House For Sale In Sitapaila, Kathmandu  Kathmandu
1480        House For Sale In Budhanilkantha, Kathmandu  Kathmandu
1481             House For Rent In Baneshwor, Kathmandu  Kathmandu
1482             House For Sale In Baluwatar, Kathmandu  Kathmandu

            Price
0      90000000.0
1      80000000.0
2      70000000.0
3     130000000.0
4     100000000.0
...           ...
1478     500000.0
1479   12000000.0
1480   27000000.0
1481     300000.0
1482   72500000.0

[1483 rows x 3 columns]

In [3]:
 print(data.head())
# print(data.tail())

                                                Name   Location        Price
0  Flat System House On Sale At Budhanikantha : H...  Kathmandu   90000000.0
1  21 Aana Beautiful House : House For Sale In Bu...  Kathmandu   80000000.0
2  Beautiful To Floor House : House For Sale In D...  Kathmandu   70000000.0
3  Modern Architecture Bungalow House : House For...  Kathmandu  130000000.0
4  Modern Bungalow House : House For Sale In Golf...  Kathmandu  100000000.0

In [4]:
  print(data.tail())

                                             Name   Location       Price
1478         House For Rent In Chapali, Kathmandu  Kathmandu    500000.0
1479       House For Sale In Sitapaila, Kathmandu  Kathmandu  12000000.0
1480  House For Sale In Budhanilkantha, Kathmandu  Kathmandu  27000000.0
1481       House For Rent In Baneshwor, Kathmandu  Kathmandu    300000.0
1482       House For Sale In Baluwatar, Kathmandu  Kathmandu  72500000.0

In [5]:
price_RS = np.array(data["Price"])
print("the Price of house in kathmandu vallly ",price_RS)

the Price of house in kathmandu vallly  [90000000. 80000000. 70000000. ... 27000000.   300000. 72500000.]

In [9]:
print(data.describe())

              Price
count  1.483000e+03
mean   3.568617e+11
std    7.357471e+12
min    9.000000e+01
25%    2.000000e+06
50%    1.400000e+07
75%    3.250000e+07
max    2.160000e+14

In [11]:
x=data(["Name"])
y=data(["Price"])

TypeError: 'DataFrame' object is not callable